<footer>

  <section class="info">
    <h6>DeltaV Code Recipe_App 301d5 Final Project</h6>
    <p class="footer-text">Marie Antons, Sihem Azibi, James Zobian</p>
  </section>
    <!-- <section class="social">
    <a href="#"> <i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    </section> -->

</footer>