
  
  <nav id="page-nav">
    <!-- FOR HAMBERGER MENU &#9776 is the 3 lines symbol -->
    <label for="hamburger">&#9776</label>
    <input type="checkbox" id="hamburger">
    <!-- NAV BUTTONS -->
    <ul>
   <li><a class="header" href='/'>Home</a></li>
    <li><a class="header" href= '/recipes/search'>Recipe Finder</a></li>
    <li><a class="header" href='/recipes/create'>Add Your Recipe</a></li>
    <li><a class="header" href='/favorite'>Favorite Recipes</a></li>
    <li><a class="header" href='/recipebox'>Recipe Box</a></li>
    <li><a class="header" href='/about'>About the Developers</a></li>
    </ul>
  
  </nav>
  

   
  
