
  <a href='/'><h1>Worldly Cuisine</h1></a>
  <nav>
    <ul>
   <li><a class="header" href='/'>Home</a></li>
    <li><a class="header" href= '/recipes/search'>Recipe Finder</a></li>
    <li><a class="header" href='/recipes/create'>Add Your Recipe</a></li>
    <li><a class="header" href='/recipes/favorite'>Favorite Recipes</a></li>
    <li><a class="header" href='/recipebox'>Recipe Box</a></li>
    <li><a class="header" href='/about'>About the Developers</a></li>
    </ul>
  
  </nav>
  

   
  
