
  <a href='/'><h1>Worldly Cuisine</h1></a>
  <section id='nav'>
    <a href='/'>Home</a>
    <a href= '/recipes/search'>Recipe Finder</a>
    <a href='/recipes/create'>Add Your Recipe</a>
    <a href='/recipes/favorite'>Favorite Recipes</a>
    <a href='/recipebox'>Recipe Box</a>
    <a href='/about'>About the Developers</a>
  </section>
