<header>
  <a href='/'><h1>Worldly Cuisine</h1></a>
  <section id='nav'>
    <a href='/'>Home</a>
    <a href='/...'>Recipe Finder</a>
    <a href='/...'>Add Your Recipe</a>
    <a href='/...'>Recipe Box</a>
    <a href='/...'>About the Developers</a>
  </section>
</header>