<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
<div class="container">
<form action="" method="POST">
<label for="recipe-title">
    <input type="text" name="title" id="recipeTitle" placeholder="Recipe Title">
</label>
<label for="cuisineType">
    <input type="text" name="title" id="recipeTitle" placeholder="New Cuisine">
</label>
<label for="cuisine-select">Select Cuisine</label>
<select id="cuisine-select">
    <option value="">--Please choose an option--</option>
    <option value="American">American</option>
    <option value="Asian">Asian</option>
    <option value="British">British</option>
    <option value="Caribbean">Caribbean</option>
    <option value="Central-Europe">Central Europe</option>
    <option value="Chinese">Chinese</option>

    <option value="	Eastern-Europe">Eastern Europe</option>
    <option value="French">French</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Kosher">Kosher</option>


</select>

<input type="submit" value="Add Recipe">
</form>
</div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>