<!DOCTYPE html>
<html lang="en-us">
<head>

</head>

<body>
  <header id="header">


    
  </header>

 
       <button onclick="location.href = '/cuisines/American' ">American</button>
       <button onclick="location.href = '/cuisines/Asian' ">Asian</button>
       <button onclick="location.href = '/cuisines/British' ">British</button>
       <button onclick="location.href = '/cuisines/Caribbean' ">Caribbean</button>
       <button onclick="location.href = '/cuisines/CentralEurope' ">Central Europe</button>
       <button onclick="location.href = '/cuisines/Chinese' ">Chinese</button>
       <br>
       <button onclick="location.href = '/cuisines/Easterneurope' ">Eastern Europe</button>
       <button onclick="location.href = '/cuisines/French' ">French</button>
       <button onclick="location.href = '/cuisines/Indian' ">Indian</button>
       <button onclick="location.href = '/cuisines/Italian' ">Italian</button>
       <button onclick="location.href = '/cuisines/Japanese' ">Japanese</button>
       <button onclick="location.href = '/cuisines/Kosher' ">Kosher</button>
       <br>
       <button onclick="location.href = '/cuisines/Mediterranean' ">Mediterranean</button>
       <button onclick="location.href = '/cuisines/Mexican' ">Mexican</button>
       <button onclick="location.href = '/cuisines/MiddleEastern' ">Middle Eastern</button>
       <button onclick="location.href = '/cuisines/Nordic' ">Nordic</button>
       <button onclick="location.href = '/cuisines/SouthAmerican' ">South American</button>
       <button onclick="location.href = '/cuisines/SouthEastAsian' ">South East Asian</button>

  <footer id="footer">


  </footer>
</body>
</html>