<!DOCTYPE html>
<html lang="en-us">
<head>

</head>

<body>
  <header id="header">
  
  </header>
<body>
  <main>
    <h3>Browse a Cuisine</h3>
    <button onclick="location.href = '/cuisines/American' ">American</button>
    <button onclick="location.href = '/cuisines/Asian' ">Asian</button>
    <button onclick="location.href = '/cuisines/British' ">British</button>
    <br>
    <button onclick="location.href = '/cuisines/Caribbean' ">Caribbean</button>
    <button onclick="location.href = '/cuisines/CentralEurope' ">Central Europe</button>
    <button onclick="location.href = '/cuisines/Chinese' ">Chinese</button>
    <br>
    <button onclick="location.href = '/cuisines/Easterneurope' ">Eastern Europe</button>
    <button onclick="location.href = '/cuisines/French' ">French</button>
    <button onclick="location.href = '/cuisines/Indian' ">Indian</button>
    <br>
    <button onclick="location.href = '/cuisines/Italian' ">Italian</button>
    <button onclick="location.href = '/cuisines/Japanese' ">Japanese</button>
    <button onclick="location.href = '/cuisines/Kosher' ">Kosher</button>
    <br>
    <button onclick="location.href = '/cuisines/Mediterranean' ">Mediterranean</button>
    <button onclick="location.href = '/cuisines/Mexican' ">Mexican</button>
    <button onclick="location.href = '/cuisines/Middle-eastern' ">Middle Eastern</button>
    <br>
    <button onclick="location.href = '/cuisines/Nordic' ">Nordic</button>
    <button onclick="location.href = '/cuisines/South-American' ">South American</button>
    <button onclick="location.href = '/cuisines/Southeast-Asian' ">Southeast Asian</button>
  </main>
</body>
  <footer id="footer">
  </footer>
</body>
</html>