<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include('../../partials/head') %>
</head>
<body>
  <header id="header">
    <%- include ('../../partials/header') %>
  </header>
<body>
  <h3 class="0" id='buttons'>Browse a Cuisine</h3>
  <main id='buttons' class="contain">
    
    <button class="1" onclick="location.href = '/cuisines/American' ">American</button>
    <button class="2" onclick="location.href = '/cuisines/Asian' ">Asian</button>
    <button class="3" onclick="location.href = '/cuisines/British' ">British</button>
    
    <button class="4" onclick="location.href = '/cuisines/Caribbean' ">Caribbean</button>
    <button class="5" onclick="location.href = '/cuisines/CentralEurope' ">Central Europe</button>
    <button class="6" onclick="location.href = '/cuisines/Chinese' ">Chinese</button>
    
    <button class="7" onclick="location.href = '/cuisines/Easterneurope' ">Eastern Europe</button>
    <button class="8" onclick="location.href = '/cuisines/French' ">French</button>
    <button class="9" onclick="location.href = '/cuisines/Indian' ">Indian</button>
    
    <button class="10" onclick="location.href = '/cuisines/Italian' ">Italian</button>
    <button class="11" onclick="location.href = '/cuisines/Japanese' ">Japanese</button>
    <button class="12" onclick="location.href = '/cuisines/Kosher' ">Kosher</button>
    
    <button class="13" onclick="location.href = '/cuisines/Mediterranean' ">Mediterranean</button>
    <button class="14" onclick="location.href = '/cuisines/Mexican' ">Mexican</button>
    <button class="15" onclick="location.href = '/cuisines/Middle-eastern' ">Middle Eastern</button>
    
    <button class="16" onclick="location.href = '/cuisines/Nordic' ">Nordic</button>
    <button class="17" onclick="location.href = '/cuisines/South-American' ">South American</button>
    <button class="18" onclick="location.href = '/cuisines/Southeast-Asian' ">Southeast Asian</button>
  </main>
</body>
  <footer id="footer">
    <%- include ('../../partials/footer') %>
  </footer>
</body>
</html>