<!DOCTYPE html>
<html lang="en-us">
<head>

</head>

<body>
  <header id="header">


    
  </header>

    <form id="recipe-search" action="/searches/show" method="POST">
      <fieldset>
        <legend>Search by Cuisine</legend>
        <label>
          <span>Enter Search Term(s):</span>
          <input type="text" name="searchTerm" placeholder="Search by title or author here!" required/>
        </label>
      </fieldset>
      <fieldset>
       
          <input type="submit" id="cuisineName" name="search_type" value="American">
          <input type="submit" id="cuisineName" name="search_type" value="Asian">  
          <input type="submit" id="cuisineName" name="search_type" value="British">
          <input type="submit" id="cuisineName" name="search_type" value="Caribbean">
          <input type="submit" id="cuisineName" name="search_type" value="Central Europe">
          <input type="submit" id="cuisineName" name="search_type" value="Chinese">            
          <br>
          <input type="submit" id="cuisineName" name="search_type" value="Eastern Europe">
          <input type="submit" id="cuisineName" name="search_type" value="French">
          <input type="submit" id="cuisineName" name="search_type" value="Indian">
          <input type="submit" id="cuisineName" name="search_type" value="Italian">
          <input type="submit" id="cuisineName" name="search_type" value="Japanese">
          <input type="submit" id="cuisineName" name="search_type" value="Kosher">  
          <br>
          <input type="submit" id="cuisineName" name="search_type" value="Mediterranean">          
          <input type="submit" id="cuisineName" name="search_type" value="Mexican">
          <input type="submit" id="cuisineName" name="search_type" value="Middle Eastern">   
          <input type="submit" id="cuisineName" name="search_type" value="Nordic">
          <input type="submit" id="cuisineName" name="search_type" value="South American">            
          <input type="submit" id="cuisineName" name="search_type" value="South East Asian">  
      <button type="submit"></button>
    </form>

  <footer id="footer">


  </footer>
</body>
</html>