<!DOCTYPE html>
<html lang="en-us">
<head>

</head>

<body>
  <header id="header">


    
  </header>

 
       <button onclick="location.href = '/show' ">American</button>
       <button onclick="location.href = '/show' ">Asian</button>
       <button onclick="location.href = '/show' ">British</button>
       <button onclick="location.href = '/show' ">Caribbean</button>
       <button onclick="location.href = '/show' ">Central Europe</button>
       <button onclick="location.href = '/show' ">Chinese</button>
       <br>
       <button onclick="location.href = '/show' ">Eastern Europe</button>
       <button onclick="location.href = '/show' ">French</button>
       <button onclick="location.href = '/show' ">Indian</button>
       <button onclick="location.href = '/show' ">Italian</button>
       <button onclick="location.href = '/show' ">Japanese</button>
       <button onclick="location.href = '/show' ">Kosher</button>
       <br>
       <button onclick="location.href = '/show' ">Mediterranean</button>
       <button onclick="location.href = '/show' ">Mexican</button>
       <button onclick="location.href = '/show' ">Middle Eastern</button>
       <button onclick="location.href = '/show' ">Nordic</button>
       <button onclick="location.href = '/show' ">South American</button>
       <button onclick="location.href = '/show' ">South East Asian</button>

  <footer id="footer">


  </footer>
</body>
</html>