<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include('../../partials/head') %>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

</head>
<body>
  <header id="header">
    <%- include ('../../partials/header') %>
  </header>
<body>
  <h3 class="0" id='buttons'>Browse a Cuisine</h3>
  <main id='buttons' class="cuisine-container">
    
    <button  id="american" class="new-search"onclick="location.href = '/cuisines/American' ">American</button>
    <button  id="asia" class="new-search" onclick="location.href = '/cuisines/Asian' ">Asian</button>
    <button  id="british" class="new-search" onclick="location.href = '/cuisines/British' ">British</button>
    
    <button id="caribbean" class="new-search" onclick="location.href = '/cuisines/Caribbean' ">Caribbean</button>
    <button id="central-europe" class="new-search" onclick="location.href = '/cuisines/Central-Europe' ">Central Europe</button>
    <button id="chinese" class="new-search" onclick="location.href = '/cuisines/Chinese' ">Chinese</button>
    
    <button id="estern-europe" class="new-search" onclick="location.href = '/cuisines/Eastern-europe' ">Eastern Europe</button>
    <button id="french" class="new-search" onclick="location.href = '/cuisines/French' ">French</button>
    <button id="indian" class="new-search" onclick="location.href = '/cuisines/Indian' ">Indian</button>
    
    <button id="italien" class="new-search" onclick="location.href = '/cuisines/Italian' ">Italian</button>
    <button id="Japanese"class="new-search" onclick="location.href = '/cuisines/Japanese' ">Japanese</button>
    <button id="kosher"class="new-search" onclick="location.href = '/cuisines/Kosher' ">Kosher</button>
    
    <button id="Mediterranean" class="new-search" onclick="location.href = '/cuisines/Mediterranean' ">Mediterranean</button>
    <button id="Mexican" class="new-search" onclick="location.href = '/cuisines/Mexican' ">Mexican</button>
    <button id="Middle-eastern" class="new-search" onclick="location.href = '/cuisines/Middle-eastern' ">Middle Eastern</button>
    
    <button id="Nordic" class="new-search" onclick="location.href = '/cuisines/Nordic' ">Nordic</button>
    <button id="South-American" class="new-search" onclick="location.href = '/cuisines/South-American' ">South American</button>
    <button id="Southeast-Asian" class="new-search" onclick="location.href = '/cuisines/Southeast-Asian' ">Southeast Asian</button>
  </main>
</body>
  <footer id="footer">
    <%- include ('../../partials/footer') %>
  </footer>
</body>
</html>