<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="create-recipe-container">
            <div class="recipe-creation-form">
                
                <form action="/recipeBox" method="POST">
                    <h2 class="own-recipe-title">Add Your Own Recipe</h2>
                    <ul class="recipe-creation-form">
                   <li> <label for="recipeName">
                        <input type="text" name="recipeName" id="recipeName" placeholder="Recipe Title" required>
                    </label></li>

                   <li> <label for="cuisine-select">
                        <input list="cuisine-types" id="cuisineType" name="cuisineType"
                            placeholder="Select/Add Your Cuisine" required />
                        <datalist id="cuisine-types">
                            <option value="American">
                            <option value="Asian">
                            <option value="British">
                            <option value="Caribbean">
                            <option value="Central-Europe">
                            <option value="Chinese">
                            <option value="	Eastern-Europe">
                            <option value="French">
                            <option value="Indian">
                            <option value="Italian">
                            <option value="Japanese">
                            <option value="Kosher">
                        </datalist>
                    </label></li>

                    <li><label for="mealType">
                        <input list="meal-types" id="mealType" name="mealType" placeholder="Select Meal Type"
                            required />
                        <datalist id="meal-types">
                            <option value="Breakfast">
                            <option value="Lunch">
                            <option value="Dinner">
                            <option value="Snacks">
                        </datalist>
                    </label></li>


                   <li> <label for="dishType">
                        <input list="dishes" id="dishType" name="dishType"
                            placeholder="Select Dish Type" required />
                        <datalist id="dishes">
                            <option value="Bread">
                            <option value="Cereal">
                            <option value="Condiment and Sauces">
                            <option value="Drinks">
                            <option value="Desserts">
                            <option value="Main Course">
                            <option value="Pancake">
                            <option value="Preps">
                            <option value="Preserves">
                            <option value="Salad">
                            <option value="Sandwiches">
                            <option value="Side Dish">
                            <option value="Soup">
                            <option value="Starter">
                            <option value="Sweets">
                        </datalist>
                    </label></li>


                   <li> <label for="recipeDetails">
                        <textarea type="text" name="ingredient" id="recipeDetails" placeholder="Add the recipe details:"
                            required></textarea>
                    </label></li>

                   <li> <input type="submit" class="submit-personal-recipe" value="Add Recipe"></li>
                    </ul>
                </form>
            </div>

        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>