<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="recipe-creation-form">
                <form action="" method="POST">
                    <label for="recipe-title">
                        <input type="text" name="title" id="recipeTitle" placeholder="Recipe Title" required>
                    </label>

                    <label for="cuisine-select">
                        <input list="cuisine-types" id="cuisine-select" name="cuisine-select"
                            placeholder="Select/Add Your Cuisine" required />
                        <datalist id="cuisine-types">
                            <option value="American">
                            <option value="Asian">
                            <option value="British">
                            <option value="Caribbean">
                            <option value="Central-Europe">
                            <option value="Chinese">
                            <option value="	Eastern-Europe">
                            <option value="French">
                            <option value="Indian">
                            <option value="Italian">
                            <option value="Japanese">
                            <option value="Kosher">
                        </datalist>
                    </label>
                    <label for="recipeDetails">
                        <input type="text" name="title" id="recipeDetails" placeholder="Add the recipe details:"
                            required>
                    </label>
                    <label for="mealType">
                        <input list="cuisine-types" id="cuisine-select" name="cuisine-select" placeholder="Select Meal Type" required />
                        <datalist id="cuisine-types">
                            <option value="Breakfast">
                            <option value="Lunch">
                            <option value="Dinner">
                            <option value="Snacks">
                    </datalist>
                    </label>


                    <label for="dishType">
                        <input list="cuisine-types" id="cuisine-select" name="cuisine-select" placeholder="Select Dish Type" required />
                        <datalist id="cuisine-types">
                            <option value="Bread">
                            <option value="Cereal">
                            <option value="Condiment and Sauces">
                            <option value="Drinks">
                            <option value="Desserts">
                            <option value="Main Course">
                            <option value="Pancake">
                            <option value="Preps">
                            <option value="Preserves">
                            <option value="Salad">
                            <option value="Sandwiches">
                            <option value="Side Dish">
                            <option value="Soup">
                            <option value="Starter">
                            <option value="Sweets">
                        </datalist>
                    </label>

                    <input type="submit" value="Add Recipe">
                </form>
            </div>

        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>