<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <br>
    <main>

        <div class="home-container">
            <br>
            <div class="appDescription">
                <h3 class="appDescription">How to use Worldly Cuisines</h3>
                <p class="appDescription">
                    Hello and welcome to your new favorite app to browse, favorite and create recipes! A great starting
                    point would be to take a moment and explore the site, there are so many cuisines to choose from by
                    heading to our recipe finder page.
                    <br>
                    After exploring you can really utilize the websites to your full advantage by creating a user
                    profile. This will let you favorite recipes, rate your favorite recipes, as well as store recipes
                    you have created for safe keeping.
                    <br>
                    We all have recipes that are passed down from grandparents or parents that are written on pieces of
                    paper that we fear might get lost. There is no better feeling that knowing your recipes are safe
                    with us!
                </p>
            </div>
    <br>
            <div class="create-user-form">
                <form action="" method="POST">
                    <h2>New here? Let's discover something new!</h2>

                    <label for="name">
                        <span>Name</span>
                        <input type="text" />
                    </label>
                    <br>
                    <label for="email">
                        <span>Email</span>
                        <input type="email" />
                    </label>
                    <br>
                    <label for="passwor">
                        <span>Password</span>
                        <input type="password" />
                    </label>
                    <p>Forget your password? No Problem!</p>
                    <button class="create-user-form" type="button" class="submit">Create an Account</button>
                    <button class="create-user-form-fb" type="button" class="fb-btn">Connect with <span>Facebook</span></button>
            </div>
        </div>
        </form>
        </div>
    </main>
    <br>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>