<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>
    <main>
        <div class="container">
            <form action="" method="POST"><div class="create-user">
                <h2>New here? Let's discover something new!</h2>

                <label for="">
                    <span>Name</span>
                    <input type="text" />
                </label>
                <label for="">
                    <span>Email</span>
                    <input type="email" />
                </label>
                <label for="">
                    <span>Password</span>
                    <input type="password" />
                </label>
                <p>Forget your password? No Problem!</p>
                <button type="button" class="submit">Create an Account</button>
                <button type="button" class="fb-btn">Connect with <span>Facebook</span></button>
            </div>
            <div class="exiting-user"></div>
        </form>
            







        </div>







    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>