/*      pages/searches/new      */

/* mobile */
@media(max-width:767px){
  main#buttons.contain{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 19;
  }
  
  body{
    background: radial-gradient(circle, rgb(91, 251, 63) 0%, rgb(30, 116, 22) 46%, rgb(13, 73, 6) 100%);
    text-align:center;
  }
  h3#buttons{
    font-size: 50px;
    color: honeydew;
    text-align: center;
    font-weight: bolder;
    margin:2rem;
  }
  main#buttons{
    text-align:center;
  }
  button{
    background-color: rgb(236, 175, 175);
    padding:10%;
    font-weight: bolder;
    margin-bottom:5px;
    font-size:2rem;
    text-align: center;
    padding-left:20%;
    padding-right:20%;

  }
}

/* tablet */
@media(min-width:768px){
  main#buttons.contain{
    display: grid;
    grid-template-columns: 33%33%33% ;
    grid-template-rows:12%12%12%12%12%12%;
    
  }

  body{
    background: radial-gradient(circle, rgb(8, 41, 40) 0%, rgb(95, 39, 226) 46%, rgb(132, 134, 11) 100%);
  }
  
  h3#buttons{
    font-size: 50px;
    color: honeydew;
    text-align: center;
    font-weight: bolder;
    margin:10px;
  }
  main#buttons{
    text-align:center;
  }
  button{
    background-color: rgb(236, 175, 175);
    padding-bottom:25%;
    padding-top:15%;
    font-weight: bolder;
    font-size:2rem;
    margin-bottom:15%;
    margin-left:15px;
}

/* desktop */
@media(min-width:1025px){
body{
  background: radial-gradient(circle, rgba(63,251,247,1) 0%, rgba(83,185,164,1) 46%, rgba(72,70,252,1) 100%);
}

h3#buttons{
  font-size:1000%;
  color: rgb(121, 10, 131);
  text-align: center;
  font-weight: bolder;

}
main#buttons{
  text-align:center;

}

button{
  
  background-color: rgb(236, 175, 175);
  padding:50px;
  padding-bottom:150px;
  font-size:300%;
  font-weight: bolder;
  margin:2.5%;
  text-align: center;
  
}
button:hover{
  background-color:purple;
  color:honeydew;
}
};