

/* mobileview */
/*recipe finder*/
*  {
  box-sizing: border-box;
}

  
  body{
    background:honeydew;
    text-align:center;
  }

  main#buttons{
    text-align:center;
  }

  .cuisine-container{
    width:480;
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: 240px 240px ;
    grid-template-rows: 240px  240px  240px  240px  240px  240px  240px  240px 240px ;
  }

  button.new-search{
    background-image: url("/images/th.jpg");
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white ;
    font-size: 15px ;
    border: solid 5px black;
    font-family: 'Sofia';font-size: 22px;
  }

  .new-search:hover{
  transform: scale(1.4);
  }
  #buttons{
    font-size: 50px;
    color:rgb(79, 135, 255);
    text-align: center;
    font-weight: bolder;
    margin:2rem;
    font-family: 'Sofia';font-size: 50px;
  }
  #american{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/GettyImages-489118114_54_990x660.jpg");

    grid-column: 1;
      grid-row: 1;
    text-align: center;
  }
#asia{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/asian\ food.jpg");

    grid-column: 2;
      grid-row: 1;
}
#british{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/British-Comfort-Foods-Roast-Dinner.jpg");
  grid-column: 1;
    grid-row: 2;
    
}
#caribbean{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Image-2.0.0.jpg");
  grid-column: 2;
    grid-row: 2;
  
}

#central-europe{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Poland_food_110367230.jpg");
  grid-column: 1;
    grid-row: 3;
   
}
#chinese{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/spicy-sichuan-noodles-thumb-335x335.jpg");
  grid-column: 2;
    grid-row: 3;
  
}


#estern-europe{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Eastern-European-beetroot-soup-9db26926-24d3-4fd5-8740-474c98d5a8a4-0-4368x2912.jpg");
  grid-column: 1;
    grid-row: 4;
   
}
#french{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/sneci04.jpg");
  grid-column: 2;
    grid-row: 4;

}

#indian{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/indian-food.jpg");

  grid-column: 1;
    grid-row: 5;
    
}
#italien{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/rsz_lasagna\ \(2\).jpg");
  grid-column: 2;
    grid-row: 5;
  
}
#Japanese{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/GettyImages-126553802-56a541cb3df78cf772875a68.jpg");
  grid-column: 1;
    grid-row: 6;
  
}

#Mediterranean{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/MediteranneanDiet.jpg");
  grid-column: 2;
    grid-row: 6;
   
}

#Mexican{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/mexicanfood.jpg");
  grid-column: 1;
    grid-row: 7;
   
}
#Middle-eastern{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/main32283u4.jpg");
  grid-column: 2;
    grid-row: 7;
  
}

#Nordic{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Scandanavian-Food_Main-1.jpg");
  grid-column: 1;
    grid-row: 8;
   
}
#South-American{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Ceviche_Peru_shutterstock-1.jpg");
  grid-column: 2;
    grid-row: 8;
  
}

#Southeast-Asian{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/SE\ Food\ Spring\ Rolls.JPG");
  grid-column: 1;
    grid-row: 9;
    
}

#kosher{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Screen-shot-2013-01-15-at-12.11.08-PM.png");
  grid-column: 2;
  grid-row: 9;
}

/*personal recipe form*/
#recipeDetails{
  height: 200px;
  width: 200px;
  margin-top: 20px;
  text-align:center;
}
.submit-personal-recipe{
  margin-top: 20px;
  background-color: rgb(79, 135, 255);
  color: white;
  height: 35px;
  font-weight:bold;
}
#recipeName{
margin-bottom: 20px;
margin-top: 0px;
}
#cuisineType{

  margin-bottom: 20px; 
}
#mealType{
  margin-bottom: 20px; 
}
.own-recipe-title{
  margin-top: 20px;
  color: rgb(79, 135, 255);
  font-family: 'Sofia';font-size: 35px;
}
.recipe-creation-form{
  margin-bottom: 100px;
  margin-top: 50px;

}

/* recipie box */

.one-recipe-box a{
color:rgb(79, 135, 255)  ;
 
}
.one-recipe-box{
  width: 80%;
  margin: 30px auto;
  padding: 15px;
  border: 5px solid black;
  border-radius: 15px;
  display: grid;
  margin-bottom: 50px;
}

.recipebox-delete-button{
  margin-top: 10px;
  background-color:rgb(79, 135, 255) ;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  height: 25px;
  width: 100px;
}
.recipebox-h3{
  margin-top: 20px;
  color: rgb(79, 135, 255);
  font-family: 'Sofia';font-size: 35px;
}
h1{
  color: rgb(79, 135, 255);
}
span{
  color: darkred;

}
/*edit your personal recipe */
.one-recipe-box{
  width: 50%;
  margin: 30px auto;
  padding: 15px;
  border: 5px solid black;
  border-radius: 15px;
  display: grid;
}



.create-view-container{
  text-align: center;
}
.ingredient{
  height: 200px;
  width: 200px;
  margin-top: 20px;
  text-align:center;
}
.recipename{
  margin-bottom: 20px;
  margin-top: 0px;
}

.cuisinetype{
  margin-bottom: 20px; 
}
.mealtype{
  margin-bottom: 20px; 
 
}

#update-form{
  margin-top: 70px;
  margin-bottom: 100px;
}

.update-personal{
  margin-top: 20px;
  background-color: rgb(79, 135, 255);
  color: white;
  height: 35px;
  font-weight:bold;

}
.view-title{
  margin-top: 20px;
  color: rgb(79, 135, 255);
  font-family: 'Sofia';font-size: 35px;
}



/*edit favorite */
#note{
  margin-top: 50px;
  width: 250px;
}
#edit-ingredient{
width: 250px;
height: 500px;
}

/* details*/
.nutrient{
  font-weight: bold;
}
/* favorite*/
.favorite-recipename{
  color:darkred;
  font-weight: bold;
}
/* desktopview */
@media(min-width:960px){

/*recipe finder*/
  .cuisine-container{
    display: grid;
    grid-template-columns: 350px 350px 350px  ;
    grid-template-rows: 500px 500px 500px 500px   ;
  }

  
  button.new-search{
    background-image: url("/images/th.jpg");
    border-radius: 50%;
    border: solid 10px black;
    font-weight: bold;
    width: 250px;
    height: 250px;
    color: white ;
    font-size: 20px ;
    margin-bottom: 200px;
    margin-top: 100px;
    font-family: 'Sofia';font-size: 22px;
  }

  .new-search:hover{
    transform: scale(1.4);
  }
  h3#buttons{

    color: brown;
    text-align: center;
    font-weight: bolder;
    margin:2rem;
    grid-column-start:1;
    font-family: 'Sofia';font-size: 50px;
  }
  #american{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/GettyImag2.jpg");
    grid-column: 1;
      grid-row: 1;
    text-align: center;
  
  }
#asia{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/asian\ food2.jpg");
    grid-column: 2;
      grid-row: 1;
   
}
#british{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/British-Comfort-Foods-Roast-Dinner2.jpg");
  grid-column: 3;
    grid-row: 1;
  
}
#caribbean{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Image2.jpg");
  grid-column: 4;
    grid-row: 1;
  

}

#central-europe{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Poland_food-2.jpg");
  grid-column: 1;
    grid-row: 2;
  
}
#chinese{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/spicy-sichuan-noodles-2.jpg");
  grid-column: 2;
    grid-row: 2;
   
}


#estern-europe{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Eastern-European-beetroot-soup-2.jpg");
  grid-column: 3;
    grid-row: 2;
  
}
#french{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/sneci02.jpg");
  grid-column: 4;
    grid-row: 2;

}

#indian{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/indian-food-2.jpg");

  grid-column: 1;
    grid-row: 3;
}
#italien{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/rsz_lasagna-2.jpg");
  grid-column: 2;
    grid-row: 3;
}
#Japanese{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/GettyImages-2.jpg");
  grid-column: 3;
    grid-row: 3;
}

#Mediterranean{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/MediteranneanDiet-2.jpg");
  grid-column: 4;
    grid-row: 3;
}

#Mexican{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/mexicanfood-2.jpg");
  grid-column: 1;
    grid-row: 4;
}
#Middle-eastern{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/main2.jpg");
  grid-column: 2;
    grid-row: 4;
}

#Nordic{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Scandanavian-Food_Main-2.jpg");
  grid-column: 3;
    grid-row: 4;

}
#South-American{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Ceviche_Peru_shutterstock-2.jpg");
  grid-column: 4;
    grid-row: 4;
}

#Southeast-Asian{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/SE\ Food\ Spring\ Rolls-2.JPG");
  grid-column: 1;
    grid-row: 5;
}

#kosher{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/Screen-shot-2.png");
  grid-column: 2;
  grid-row: 5;
}

  /* homepage */

  h3.appDescription{
    font-size:2rem;
    font-weight: bolder;

    color:#1E90FF;

  }
  p.appDescription{
    font-size:20px;
    text-align: center;
    color:black;
    
  }
  div.create-user-form{
    text-align:center;
    color:#1E90FF;
    font-size:20px;
  }
  button.create-user-form{
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(239,51,169,1) 0%, rgba(214,218,11,1) 50%, rgba(0,212,255,1) 100%);
  }
  button.create-user-form-fb{
    padding-top:10px;
    padding-bottom:10px;
    background-color:rgb(34, 34, 238);
    color:honeydew;
    font-weight:bolder;
  }
  /* add your recipe */
  div.create-recipe-container{
    display:grid;
    
  }
  ul.recipe-creation-form{
    display:grid;
  }


/* recipe show */
main#main-content{
  margin-top:50px;
}
img{
  width:200px;
  height:200px;
}
}

/*favorit recipe*/
.favorite-container{
  width: 80%;
  margin: 30px auto;
  padding: 15px;
  border: 5px solid black;
  border-radius: 15px;
  display: grid;
  margin-bottom: 50px;
}
.card-container > * {
  text-align: justify;
}
