/*-------------------------------- MOBILE HEADER Styling--------------------------- */
:root {
  --primary-color: rgba(29, 28, 1, 0.75);
  --overlay-color: rgba(255, 232, 101, 0.85);
  --menu-speed: 0.75s;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
}
.homepage {
  background: var(--primary-color);
  color: rgb(246, 246, 246);
  height: 100vh;
  position: relative;
}
.homepage:before {
  content: '';
  background: url('/images/homepage.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .homepage-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.homepage h1 {
  font-size: 4rem;
}
.homepage p {
  font-size: 1.3rem;
}


/* NAVIGATION STYLING */
#page-nav {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* MOBILE NAV */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #fff;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}









/*------------------------------------------- MOBILE FOOTER STYLING -----------------------*/
footer {
  width: 480px;
  height: 60px;
  background: #1e90ff;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 5px;
  position:fixed;
 
}


.info {
  color: black;
  font-weight: bold;
  font-size: 15px;
}


/* -----------------------------------------DESKTOP FOOTER------------------------------------ */
@media (min-width: 768px){
  footer {
    height: 100px;
    background: black;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 5px;
  

  }
  
  
  .info {
    color: wheat;
    font-weight: bold;
    font-size:10px;
  }
 

}