* {
  box-sizing: border-box;  
}
p{
  font-size:25px;
}
a{
  display:grid;
  text-align: center;
  margin-top: 19px;
}
img{
  text-align:center;
}


/* ABOUT US PAGE MOBILE FIRST */
@media (min-width: 768px){
.about-container {
    width: 480px;
    background-color: ;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 200px 200px 200px;

}